<<<<<<< HEAD
.main-grid-items{
    cursor: pointer;
    transition: 1s ease-in-out;
}

.main-featured-item{
    display: grid;
    grid-template-columns: 1fr;
    /* grid-column: span 3;
    grid-row: span 2; */
    /* height: 48%; */
}
=======
.main-grid-items{
    cursor: pointer;
    transition: 1s ease-in-out;
}

.main-featured-item{
    display: grid;
    grid-template-columns: 1fr;
    /* grid-column: span 3;
    grid-row: span 2; */
    /* height: 48%; */
}
>>>>>>> ec8cf051cfa6fd0751e982d9a7a804fd47a925ce
